mat-card {
    max-width: 70%;
    
    margin-left: 15%;
    margin-bottom: 10px;
}

img {
    max-height: 300px;
}


mat-icon {
    margin-left: 60%;
}

mat-expansion-panel {
    margin-bottom: 10px;
}