.object {
    max-width: 70%;
    
    margin-left: 15%;
    margin-bottom: 10px;
}

.kpi {
    text-align: center;
}

.refresh {
    text-align: center;
}

.temp {
    max-width: 70%;
    margin-bottom: 10px;
    margin-left: 15%;
}

img {
    max-height: 300px;
}


mat-icon {
    margin-left: 60%;
}
