img {
    background-size: cover;
    margin-left: 10%;
    width: 500px;
    height: 200px;
    }
mat-card {
    max-width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20%;
}